{
	"env": {
		"browser": true,
		"jest": true
	},
	"parser": "@typescript-eslint/parser", // Specifies the ESLint parser,
	"extends": [
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["import", "react-hooks"],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"comma-dangle": ["error", "never"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-no-literals": ["error"],
		"react/prop-types": 0,
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true
			}
		],
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	}
}
